.title-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 70px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.803);
  font-family: cursive;
  color: rgb(113, 113, 113);
}
