.title-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 70px;
  text-shadow: 4px 4px rgba(250, 135, 250, 1);
  color: rgb(254, 159, 159);
  font-family: cursive;
  margin: 20px;
}
