body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.username {
  background: white;
  box-shadow: 0 0 2em #e6e9f9ac;
  font-size: 18px;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  border-radius: 20px;
  color: #000000;
  margin-top: 2em;
  height: 1em;
}

.password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  font-size: 18px;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  border-radius: 20px;
  color: #030303;
  margin-top: 2em;
  height: 1em;
}
.password input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}
